@page
@model progressive.Pages_Groups.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.GroupNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.GroupNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.GroupCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.GroupCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.P2PCoach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.P2PCoach)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.TaughtTerm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.TaughtTerm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Pathway)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Pathway)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Batch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Batch.BatchID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Group.GroupID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
