@page
@model progressive.Pages_Groups.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].GroupNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].GroupCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].TaughtTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Pathway)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Batch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Group) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaughtTerm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pathway)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Batch.BatchID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GroupID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GroupID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GroupID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
